<footer>
    <div>
        <div class="uppart">
            <div class="left">
                <h1>Thanks!</h1>
                <h5>Thank you so much for scrolling and viewing our site! I hope you learnt a lot about an artist from
                    this!</h5>
            </div>

            <div class="right">
                <h1>Let's Talk!</h1>
                <h5>We are ready to hear your questions. if you're interested in something follow our social medias
                    listed
                    below!</h5>
                <img src="https://cdn.discordapp.com/attachments/1167174247630770246/1177630727077105795/fb.png?ex=65733514&is=6560c014&hm=0e078551df4b47a97833dbd4f78bf0f70916fcd722f3db020a970af9856789ad&"
                     alt="fb">
                <img src="https://cdn.discordapp.com/attachments/1167174247630770246/1177630727349743637/ig.png?ex=65733514&is=6560c014&hm=90b31c8150cb9098b1049210ce7601caed94017cd113d5a63d502d6903426743&"
                     alt="insta">
                <img src="https://cdn.discordapp.com/attachments/1167174247630770246/1177630727576244336/twt.png?ex=65733514&is=6560c014&hm=89d254f1daeb01529483ec4c959bb38630c91e2e5677e8fff2ec96edba1157d3&"
                     alt="twitter">
            </div>


        </div>


        <div class="yellowpart">
            <div>
                <h4>Email us at</h4>
                <h6>educationprogram@geolab.edu.ge</h6>
            </div>
            <div>
                <h4>Call us</h4>
                <h6>+995 599 95 51 41</h6>
            </div>
        </div>


    </div>
</footer>