{% extends "base.html" %}

{% block content %}
<section class="s4">
    <div class="s4_1">
        <h1>
            WELCOME!
        </h1>
        <br>
        <h2>
            OUR TOURS
        </h2>
        <p>
            🌍 Welcome to an Adventure of a Lifetime! 🌟
            <br>
            <br>
            Greetings, Travel Enthusiasts!
            <br>
            We are delighted to extend a warm welcome to you as you embark on a journey to explore the wonders that our
            destination has to offer. Get ready to be captivated by the beauty of your destination, where each corner
            holds a story, and every experience is a brushstroke on the canvas of your memories. Immerse yourself in the
            vibrant energy of our bustling city, where modernity meets tradition. From iconic landmarks to hidden gems,
            there's something for every explorer. Prepare for an adventure filled with laughter, discovery, and lasting
            memories. Our city is eager to share its treasures with you, and we can't wait to be a part of your travel
            story.
        </p>
        <div class="s4button">
            <div>
                <button type="button" class="btn btn-info me-3">More</button>
                <button type="button" class="btn btn-info">About Us</button>
            </div>
        </div>
    </div>

    <div class="s4_2">
        <h1>
            BOOKING
        </h1>
        <br>
        <h2>
            FEATURED DIRECTIONS
        </h2>
        <br>
        <br>
        <div class="photo">
            <div>
                <img src="../static/img/bodishi.jpg" alt="">
                <h5>Enjoy Our Tour</h5>
            </div>
            <div>
                <img src="../static/img/bodishi1.jpg" alt="">
                <h5>Have Fun With Your Friends</h5>
            </div>
            <div>
                <img src="../static/img/bodishi2.jpg" alt="">
                <h5>See Many Wonderful Places</h5>
            </div>
        </div>
    </div>
</section>

<section class="sect5">
    <div>
        <img id="img" src="http://www.hdwallpapersfreedownload.com/uploads/large/cities/italy-photo.jpg"
             alt="">
        <div class="textt">
            <h3>Italy</h3>
            <p class="pt-3">
                Discover the enchanting allure of Italy, where timeless beauty and rich history come together to create
                an unforgettable experience. Picture yourself strolling through charming cobblestone streets, surrounded
                by iconic landmarks like the Colosseum and the Leaning Tower of Pisa. Indulge your senses in the
                culinary delights of authentic Italian cuisine, savoring the flavors of fresh pasta, delectable cheeses,
                and world-renowned wines.</p>
            <h4 class="pt-3">Location: EternaVista — your gateway to the timeless beauty of Italy.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 2000$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</a></button>
            </div>
        </div>
    </div>
</section>

<section class="sect6 pt-5">
    <div>
        <div class="texttt">
            <h3>German</h3>
            <p class="pt-3">Embark on a journey to the heart of Europe's cultural and technological powerhouse, Germany.
                Immerse yourself in the perfect blend of tradition and innovation as you explore historic landmarks like
                the Brandenburg Gate in Berlin and the fairytale-like Neuschwanstein Castle. Let the vibrant energy of
                cities like Munich and Cologne captivate you, where modernity meets centuries-old charm. </p>
            <h4 class="pt-3">Location: SchlossHaven — your gateway to the timeless beauty of Germany.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 2500$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</button>
            </div>
        </div>
        <img id="img1" src="https://cdn.getyourguide.com/img/location/5a1d2ab6dd594.jpeg/88.jpg"
             alt="">
    </div>
</section>

<section class="sect5 pt-5">
    <div>
        <img id="img2" src="http://s1.picswalls.com/wallpapers/2014/07/28/greece-image_120858994_118.jpg"
             alt="">
        <div class="textt">
            <h3>Greece</h3>
            <p class="pt-3">Embark on a journey to the cradle of Western civilization, where the sun-drenched landscapes
                and ancient wonders of Greece await your exploration. Welcome to a land of myth and magic, where azure
                waters kiss golden beaches, and the ruins of ancient temples echo tales of gods and heroes. </p>
            <h4 class="pt-5">Location: OlympiaVista — your gateway to the timeless beauty of Greece.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 3000$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</button>
            </div>
        </div>
    </div>
</section>

<section class="sect6 pt-5">
    <div>
        <div class="texttt">
            <h3>Japan</h3>
            <p class="pt-3">
                Embark on a captivating journey to Japan, a land where ancient traditions and cutting-edge technology
                coalesce in a harmonious dance. Picture yourself surrounded by the serene beauty of cherry blossoms in
                Kyoto's historic temples or the neon glow of Tokyo's bustling streets. Japan beckons with its exquisite
                culinary artistry, from delicate sushi to savory ramen, inviting you on a gastronomic adventure. </p>
            <h4 class="pt-3">Location: SakuraVista — your gateway to the timeless beauty of Japan.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 3500$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</button>
            </div>
        </div>
        <img id="img3" src="http://s1.picswalls.com/wallpapers/2014/07/25/japan-background_043257527_108.jpg"
             alt="">
    </div>
</section>

<section class="sect5 pt-5">
    <div>
        <img id="img4"
             src="https://www.hdwallpapers.in/download/chungjuho_lake_with_fog_mountain_south_korea_hd_nature-HD.jpg"
             alt="">
        <div class="textt">
            <h3>South Korea</h3>
            <p class="pt-3">
                Embark on a captivating journey to South Korea, where tradition and modernity dance in harmony, creating
                a tapestry of rich culture and innovation. Imagine wandering through the ancient palaces of Seoul, each
                step echoing with the whispers of dynasties past, or immersing yourself in the vibrant energy of
                bustling markets and futuristic cityscapes.</p>
            <h4 class="pt-4">Location: HanRiverHaven — your gateway to the timeless beauty of South Korea.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 4000$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</button>
            </div>
        </div>
    </div>
</section>

<section class="sect6 pt-5">
    <div>
        <div class="texttt">
            <h3>Indonesia</h3>
            <p class="pt-3">
                Embark on a tropical escape to Indonesia, a land of unparalleled beauty and cultural diversity. Picture
                yourself on the pristine beaches of Bali, where turquoise waters lap against golden shores and vibrant
                coral reefs beckon beneath the surface. Indonesia invites you to explore ancient temples, like Borobudur
                and Prambanan, where centuries-old architecture stands as a testament to the country's rich
                heritage.</p>
            <h4 class="pt-3">Location: EmeraldIsle Retreat — your gateway to the timeless beauty of Indonesia.</h4>
            <div class="rame">
                <h4 class="pt-5">Price: 4500$</h4>
                <button type="button" class="btn btn-dark">Buy Tour</button>
            </div>
        </div>
        <img id="img5" src="https://4.bp.blogspot.com/-AQSN93Nabck/VMC_lqEt3XI/AAAAAAAACAc/AR22j1fZvoE/s1600/Bali.jpg"
             alt="">
    </div>
</section>

{% endblock %}